<style>
  #pots-layout {margin-left: 20vw; width: 80vw; gap: 13.3vw;}
  .main-pot-image {position: relative; z-index: 1;}
  .main-pot-image, .secondary-pot-image {max-height: 12vh; max-width: 5vw;}
  .secondary-pot-image-container { ;}
  .secondary-pot-image {margin: auto; opacity: 1; position: absolute; z-index: 0 }
  .backdrop {display: none}

  @media (max-width: 900px) {
    #pots-layout {margin-left: 0; margin: auto; width: 100vw; gap: 20vw}
    .main-pot-image {max-height: 25vh; max-width: 8vw;}
  }
</style>

<%
  def dir_to_array(string, prefix = "")
    array = []
    Dir.foreach(string) do |filename|
      next if filename == '.' or filename == '..'
      array << prefix + filename
    end
    return array.reverse
  end
%>

<% projects = [
{name: "Projecte1", directory: "app/assets/images/1/tr", homepage_images: dir_to_array("app/assets/images/1/tr", "1/tr/")},
{name: "Projecte2", directory: "app/assets/images/2/tr", homepage_images: dir_to_array("app/assets/images/2/tr", "2/tr/")},
{name: "Projecte3", directory: "app/assets/images/3/tr", homepage_images: dir_to_array("app/assets/images/3/tr", "3/tr/")},
{name: "Projecte4", directory: "app/assets/images/4/tr", homepage_images: dir_to_array("app/assets/images/4/tr", "4/tr/")},
{name: "Projecte5", directory: "app/assets/images/5/tr", homepage_images: dir_to_array("app/assets/images/5/tr", "5/tr/")},
] %>

<div style="display: flex; gap: 20vw">
  <%projects[1..-1].each_with_index do |project, index|%>
  <div id="<%=project[:name]%>" style="position: relative; z-index: 1">
    <%= image_tag(projects[index][:homepage_images][0], "data-project": project[:name] , class: "main-pot-image target", "data-images": projects[index][:homepage_images], "data-index": 2)%>
    <%projects[index][:homepage_images].each_with_index do |route, index|%>
    <%= image_tag(route, style: "display: none", "data-project": project[:name] )%>
    <%end%>
  </div>
  <%end%>
</div>


<script>
const targets = document.querySelectorAll(".target")

targets.forEach(target => {
  target.addEventListener('click', () => {
    const currentProjectName = target.dataset.project;
    const images = document.querySelectorAll(`[data-project= ${target.dataset.project}]`)
    const container = document.querySelector(`#${target.dataset.project}`);
    const index = target.dataset.index;
    const newimg = document.createElement("img")
    target.dataset.index ++
    newimg.src = images[index].src;
    newimg.classList.add("secondary-pot-image")
    var randomNum = Math.floor(Math.random() * 41) - 20;
    newimg.style.right = randomNum + "vh"
    var randomNum = Math.floor(Math.random() * 41) - 20;

    newimg.style.top = randomNum + "vh"

    container.appendChild(newimg)
    if(parseInt(index) == (images.length - 1)){ target.dataset.index = 1 }
  });
});

// target.addEventListener("click", () => {console.log(target.dataset.images.split(" ").length);
//   var element = container.appendChild(document.createElement("img"));
//   element.src = "https://via.placeholder.com/150";
//   element.style.position = "absolute";
//   element.style.zIndex = 0
//   element.style.top = (Math.floor(Math.random() * 21) - 10) + "em";
//   element.style.left = (Math.floor(Math.random() * 21) - 10) + "em";
// })
</script>
